<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Hospital Web Application</display-name>

  <servlet>
    <display-name>Hospital</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>ua.yuriydr.hospital.controller.Controller</servlet-class>
  </servlet>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.yuriydr.hospital.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ua.yuriydr.hospital.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller/*</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <description>MySql</description>
  <resource-ref>
    <res-ref-name>MySql DB Connection Pool</res-ref-name>
    <res-ref-name>jdbc/hospital</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
